
/* ------------------ Generic Elements -------------------- */

:root{
    --main-color: #92bde7;
    --secondary-color: #6a6c6e;
    --body-color: #ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 225px;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
/* Header */

header{
    background: var(--main-color);
    color: #ffffff;
    position: fixed;
    display: inline;
    width: 100%;
    z-index: 99;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.logo{
    text-transform: uppercase;
}

.right-nav{
    display: flex;
}

.right-nav li{
    padding-left: 30px;
}

.right-nav a{
    color: #ffffff;
}

/* INDEX */


/* Carousel */
.carousel{
    position: relative;
    height: 600px;
    width: 100%;
}

.track-container{
    background: lightblue;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.track{
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer;
}

.indicator.current-slide{
    background: rgba(0, 0, 0, 0.75)   ;
}

.attributes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin: auto;
}



.atr-container{
    height: 200px;
    width: 200px;
    border-right: 1px solid #000000;
    display: flex;
    align-items: center;
}

.atr-container:last-child{
    border-right: none;
}

/* ABOUT */
.about{
    height: 800px;
    color: var(--secondary-color);
    line-height: 1.5;
    padding: 50px 0;
}

.about p{
    font-size: 15px;
}

.bio-container{
    display: flex;
}

.chaz{
    padding-right: 30px;
}








/* ********************************* PROJECTS PAGE ************************************** */

#project-title {
    margin-top: 175px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 44px;
}

.projects{
    width: 100%;
    padding-top: 50px;
    border-top: 1px dotted black;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.card{
    width: 200px;
}

.projects-img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
}

.content-container {
    position: relative;
    width: 255px;
}

.view-project-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.content-container:hover .projects-img {
    opacity: 0.3;
}

.content-container:hover .view-project-middle {
    opacity: 1;
}

.view-project-text {
    background-color: var(--main-color);
    color: white;
    font-size: 12px;
    padding: 10px;
}

/* ********************************* CONTACT PAGE ********************************* */

.contact{
    background: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.form-container{
    width: 90%;
    margin: auto;
}

.form-container > h1{
    text-align: center;
    padding-bottom: 30px;
}

.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 100px;
}

.contact form label{
    display: block;
    padding-bottom: 10px;
}


.form-input{
    border: none;
    border-radius: 1px;
    padding: 8px;
    width: 100%;

}


/* **************************** ALL UNIQUE PROJECTS PAGES ********************************** */

.projects-detail-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 200px;
}



/* Footer */
footer{
    position: relative;
    background: var(--main-color);
    color: #ffffff;
    height: 175px;
    margin-top: -175px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.footer-logo{
    width: 180px;
    text-transform: uppercase;
}

.footer-container{
    display: flex;
    align-items: center;
}

.footer-list{
    font-size: 14px;
    line-height: 1.5;
}

.li-icon{
    height: 30px;
    padding-left: 50px;
}