
/* ********************************* GENERIC ELEMENTS ********************************* */

:root{
    /* --main-color: #92bde7; */
    /* --main-color: #7a9a95; */
    --main-color: #173f5f;
    --secondary-color: #6a6c6e;
    --body-color: #ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

#main-container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 225px;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
}

.container{
    width: 85%;
    max-width: 1100px;
    margin: auto;
}

.pages-title {
    margin-top: 175px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 44px;
}

legend {
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
}

/* ********************************* HEADER SECTION ********************************* */

header{
    background: var(--main-color);
    color: #ffffff;
    position: fixed;
    display: inline;
    width: 100%;
    z-index: 99;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.logo{
    text-transform: uppercase;
}

.right-nav{
    display: flex;
}

.right-nav li{
    padding-left: 30px;
}

.right-nav a{
    color: #ffffff;
}

.right-nav a:hover{
    color: var(--secondary-color);
}

/* ********************************* INDEX PAGE ********************************* */


/* .showcase{
    position: relative;
    margin-top: 175px;
} */
/* Slider */
.slider{

    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background: rgba(255, 255, 255, 0.8);
    color: #333333;
    padding: 35px;
}

.slide .content h1{
    margin-bottom: 10px;
}

.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}


.slider-nav{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.buttons button{
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover{
    background-color: #ffffff;
    color: #333333;
}
.buttons button#prev-btn{
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button#next-btn{
    position: absolute;
    top: 50%;
    right: 15px;
}

.slide:first-child{
    background: url("images/projects/snyder_center-slider.jpg") no-repeat center center/cover;

}

.slide:nth-child(2){
    background: url("images/projects/Bulfinch1-slider.JPG") no-repeat center top/cover;
    
}

.nav-dot{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 1);
    margin: 0 12px;
    cursor: pointer;
    outline: none;
}

.nav-dot.current{
    background: grey;
}

.white-space{
    height: 500px;
}


.attributes{
    background: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    margin: auto;
    color: var(--body-color);
    width: 100%;
}


.atr-wrapper{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.atr-container{
    height: 250px;
    width: 50%;
    text-align: center;
    border-right: 1px solid #ffffff;
    padding-top: 50px;
}

.atr-container h1 {
    font-size: 66px;
}

.atr-container p {
    font-size: 12px;
}


.atr-container:last-child{
    border-right: none;
}

/* ********************************* ABOUT PAGE ********************************* */

.about{
    height: 450px;
    color: var(--secondary-color);
    line-height: 1.5;
    padding: 50px 0;
}

.about p{
    font-size: 15px;
}

.bio-container{
    display: flex;
}

#yani {
    margin-right: 30px;
    height: 300px;
    border: 5px solid var(--main-color);
}

#tufts-logo {
    float: right;
    height: 80px;
}


/* ********************************* CLIENTS PAGE ********************************* */

#clients .container {
    text-align: center;
}

#clients .card {
    width: 300px;
}

.client-logos {
    height: 150px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

#bbn-logo {
    height: 100px;
}

.client-logos:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



/* ********************************* PROJECTS PAGE ************************************** */

.projects{
    width: 100%;
    padding-top: 50px;
    border-top: 1px dotted black;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.card{
    width: 200px;
}

.projects-img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
}

.content-container {
    position: relative;
    width: 255px;
}

.view-project-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.content-container:hover .projects-img {
    opacity: 0.3;
}

.content-container:hover .view-project-middle {
    opacity: 1;
}

.view-project-text {
    background-color: var(--main-color);
    color: white;
    font-size: 12px;
    padding: 10px;
}

/* ********************************* AWARDS PAGE ********************************* */
.awards-container{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.award > *{
    padding: 10px 0;
}

.award{
    width: 700px;
    padding: 50px 0;
    border-bottom: var(--secondary-color) solid 1px;
}

.award a{
    color: #000000;
}


/* ********************************* CONTACT PAGE ********************************* */

#contact-info {
    margin-left: 10%;
    line-height: 1.5;
}

#contact-info .li-icon {
    padding-left: 0;
}

#contact-info img {
    margin-left: 0;
}

#contact-form-div {
    border-top: 1px dotted black;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    margin-top: 50px;
}

#contact-form {
    font-family: sans-serif;
    margin-top: 20px;
}



.top-space {
    margin-top: 1em;
}

.long-input {
    width: 200px;
    padding: 5px;
}

.required-field-star {
    color: red;
}

#txtMsg {
    resize: none;
    font-family: sans-serif;
}

#btnSendMsg {
    width: 100px;
    background-color: #78BE21;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
}

#form-confirmation {
    margin-top: 1em;
    font-family: sans-serif;
}

/* ********* Errors ******** */

#errors-header {
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
    color: #000000;
    background-color: #FF8484;
    padding: 5px;
}

#caution-icon {
    height: 12px;
}

.errors {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    display: inline-block;
}

.error-border {
    border-color: #FF8484;
    border-radius: 3px;
    outline-color: red;
}


/* **************************** ALL UNIQUE PROJECTS PAGES ********************************** */

.proj-header {
    width: 100%;
    margin-top: 125px;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.proj-header h2 {
    font-size: 40px;
    color: #FFFFFF;
}

.proj-header h3 {
    font-size: 32px;
    color: #FFFFFF;
}

.projects-detail-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
    line-height: 1.5;
}

#snyder .project-detail-container {
    margin-top: 30px;
}

.project-pics {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.proj-img-solo {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

/* ********* Andover Inn ******** */

#andover-inn-main-img {
    height: 325px;
    float: right;
    margin-top: 30px;
}

/* ********* Snyder Center ******** */

#snyder-header {
    background-image: url('images/projects/snyder_center.jpg');
}


/* **************************** FOOTER SECTION ********************************** */

footer{
    position: relative;
    background: var(--main-color);
    color: #ffffff;
    height: 175px;
    margin-top: -175px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.footer-logo{
    width: 180px;
    text-transform: uppercase;
}

.footer-container{
    display: flex;
    align-items: center;
}

.footer-list{
    font-size: 14px;
    line-height: 1.5;
}

.li-icon{
    height: 30px;
    padding-left: 50px;
}


/* Carousel */

/* Project Carousel */
.project-carousel-container{
    padding: 50px 0;
}
.project-carousel{
    position: relative;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 10px;
}

.project-slide{
    display: none;
    height: 100%;
}

.project-slide img{
    height: 100%;
}

.thumbnail-track{
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}

.thumbnail{
    margin: 0 5px;
    height: 175px;
}

.thumbnail.selected{
    border-bottom: 10px solid #000000;
}
.thumbnail img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}


.project-nav-arrow{
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#arrow-right{
    right: 50px;
}

#arrow-left{
    left: 50px;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}